<header class="header">
  <div class="header-content">
    <div class="logo">
      <a href="/"><img src="/assets/logo.jpeg" alt="BeachFinder Logo" /></a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/beach-list">Beaches</a></li>
        <li><a href="/fish-list">Fishes</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="user-profile">
      <a href="/login">Login</a>
    </div>
  </div>
</header>
