<header class="header">
  <div class="logo">
    <img src="/assets/logo.jpeg" alt="Anda Fisher Logo" />
    <h1>Anda Fisher</h1>
    <p>CI/CD test</p>
  </div>

  <nav class="nav">
    <a routerLink="/beaches" routerLinkActive="active">Beaches</a>
    <a routerLink="/map" routerLinkActive="active">Map</a>
    <a routerLink="/fish" routerLinkActive="active">Fish</a>
    <a routerLink="/weather" routerLinkActive="active">Weather</a>
  </nav>

  <div class="auth-buttons">
    <button *ngIf="!isAuthenticated" (click)="login()">Login</button>
    <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
  </div>

  <button class="burger-menu" (click)="toggleMenu()">☰</button>
</header>

<!-- Mobile Navigation -->
<nav class="mobile-nav" *ngIf="menuOpen">
  <a routerLink="/beaches" routerLinkActive="active" (click)="toggleMenu()"
    >Beaches</a
  >
  <a routerLink="/map" routerLinkActive="active" (click)="toggleMenu()">Map</a>
  <a routerLink="/fish" routerLinkActive="active" (click)="toggleMenu()"
    >Fish</a
  >
  <a routerLink="/weather" routerLinkActive="active" (click)="toggleMenu()"
    >Weather</a
  >
</nav>
