.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 20px;
  flex: 1;
  min-width: 200px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  color: #bbb;
  text-decoration: none;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-section .social a {
  margin: 0 10px;
  color: #bbb;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-section .social a:hover {
  color: #fff;
}
