<div class="container">
  <h2>Add Fish to {{ beach.name }}</h2>
  <div class="fish-grid">
    <div
      *ngFor="let fish of fishList"
      class="fish-card"
      [class.selected]="fish === selectedFish"
      (click)="selectFish(fish)"
    >
      <img
        [src]="'assets/image_fish/' + fish.id + '.jpeg'"
        alt="{{ fish.name }}"
        class="fish-image"
      />
      <div class="fish-details">
        <h3>{{ fish.name }}</h3>
        <p>{{ fish.description }}</p>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="addFishToBeach()"
    [disabled]="!selectedFish"
  >
    Add Fish
  </button>
</div>
