/* 🌟 Глобальные стили */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* 📌 Основной контент */
main {
  flex-grow: 1;
  margin-top: 100px; /* Отступ под фиксированный хедер */
  padding: 20px;
  min-height: calc(100vh - 140px); /* Учитываем футер */
}

/* 📌 Футер */
footer {
  background: #375a3c;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 0.9rem;
}
