<div *ngIf="loading" class="loading">Loading beach details...</div>
<div *ngIf="beach">
  <h2>{{ beach.name }}</h2>
  <p>{{ beach.description }}</p>
  <img
    *ngIf="beach.imagePath"
    [src]="'http://localhost:8081/uploads/images/' + beach.imagePath"
    [alt]="beach.name"
  />

  <div class="additional-info">
    <p><strong>Location:</strong> {{ beach.location }}</p>
    <p><strong>Water Type:</strong> {{ beach.waterType }}</p>
  </div>
</div>

<div *ngIf="weather" class="weather-info">
  <h3>Weather:</h3>
  <p><strong>Condition:</strong> {{ weather.description }}</p>
  <p><strong>Temperature:</strong> {{ weather.temperature }}°C</p>
  <p><strong>Feels like:</strong> {{ weather.feelsLike }}°C</p>
  <p><strong>Wind:</strong> {{ weather.windSpeed }} m/s</p>
  <p><strong>Humidity:</strong> {{ weather.humidity }}%</p>
  <img [src]="weather.iconUrl" alt="Weather icon" />
</div>
