<div *ngIf="beach" class="beach-detail">
  <img
    [src]="beach.imageUrl"
    alt="{{ beach.name }}"
    class="beach-detail-image"
  />
  <h1>{{ beach.name }}</h1>
  <h2>{{ beach.description }}</h2>
  <button (click)="openMaps()" class="open-maps-button">
    Open in Google Maps
  </button>

  <div class="fish-list">
    <div *ngFor="let fish of fishes" class="fish-card">
      <img
        [src]="'assets/image_fish/' + fish.id + '.jpeg'"
        alt="{{ fish.name }}"
        class="fish-image"
      />
      <div class="fish-details">
        <h3>{{ fish.name }}</h3>
        <p>{{ fish.description }}</p>
      </div>
    </div>
  </div>
</div>
